<div class="d-flex flex-column h-100">

    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-dark fs">SOBRE NÓS</h5>
                    <p class="small text-white fs-15">Acreditamos que a educação pode mudar o mundo,
                        transformar diferentes realidades, entender o valor da leitura e querer disseminá-la.</p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-dark mb-3 fs">Links Rápidos</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a routerLink="/inicio">Home</a></li>
                        <li><a routerLink="/sobre-nos">Sobre-nós</a></li>
                        <li><a routerLink="/sobre-ods">Sobre a ODS</a></li>

                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 text-center">
                    <h5 class="text-dark mb-3 fs margin-text">FOLLOW</h5>
                    <p class="small text-white fs-15 text-right">Desenvolvido com o apoio da generation Brasil</p>
                    <div class="col-md-12 d-flex justify-content-center">
                        <ul class="social-network">
                            <li>
                                <a href="https://github.com/zRafael/6EducaFront" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.linkedin.com/school/generationbrasil/" target="_blank" class="icoLinkedin">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://www.instagram.com/generationbrasil/" target="_blank" class="icoInstagram">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright rodape text-center py-3">
            <span class="text-light"> © 2022 Copyright: </span>
            <a class="text-light" href="">6Educa</a>
        </div>
    </footer>
</div>