@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Bebas+Neue&family=Exo+2:wght@100&family=Indie+Flower&family=Josefin+Sans&display=swap');

img {
  margin-left: 150pt;
  width: 438px;
  height: 635px;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.mt-10 {
  padding-top: 85pt;
  padding-bottom: 87pt;
}

.bg-color {
  background-color: #0a2f61;
}

.text-color {
  color: #FFC04E;
  font-family: 'Indie Flower', cursive;
}

.botao {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 10pt;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 8px 10px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.botao:hover, .botao:focus {
  color: #fff;
  outline: 0;
}

.third {
  border-color: #e71009;
  color: #fff;
  box-shadow: 0 0 40px 40px #e7100983 inset, 0 0 0 0 #e71009;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third2 {
  border-color: #0c3610;
  color: #fff;
  box-shadow: 0 0 40px 40px #18e22c96 inset, 0 0 0 0 #0c3610;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.third:hover {
  box-shadow: 0 0 10px 0 #e71009 inset, 0 0 10px 4px #e71009;
}

.third2:hover {
  box-shadow: 0 0 10px 0 #2dc039 inset, 0 0 10px 4px #2dc039;
}
