<app-nav></app-nav>

<div class="container-fluid mt-5">
  <div class="row teste">

    <div class="col-md-6">
      <!--Lado esquerdo-->
      <div class="row d-flex justify-contente-center">
        <div class="col-md-12 text-center">
          <div class='containerh loader'>
            <span>6</span>
            <span>E</span>
            <span>d</span>
            <span>u</span>
            <span>c</span>
            <span>a</span>
          </div>
          <!--<h1>Sobre o 6Educa</h1>-->
          <h2>Estamos transformando a educação</h2>


        </div>

      </div>
    </div>
    <div class="row">
      <div class='col-md-6'>
        <!--lado direito-->
        <img class="imagem1"
          src="https://assets-global.website-files.com/61155c49f7b752684a9f0584/617429b75e21054f3e7c63b6_sobre--quemsomos-min.png"
          alt="Foto de uma criança representando a frase estamos transformando a educação">
      </div>
    </div>
  </div>


</div>

<!--missao-->
<div class="container-fluid mt-2">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <!--Lado esquerdo-->
      <div class="row d-flex justify-contente-center">
        <div class="col-md-12">
          <p class="missao font">Missão</p>
          <p class="paragrafo1 text-center">Nossa missão é disponibilizar educação a todos<br>
            e auxiliá-los a
            superar obstáculos.
          </p>

        </div>

      </div>
    </div>
    <div class="row">
      <div class='col-md-6'>
        <!--lado direito-->
        <img class="imagem2"
          src="https://assets-global.website-files.com/61155c49f7b752684a9f0584/617985c68931646084f0a1e5_home--section-min.png"
          alt="Foto de uma criança representando a frase estamos transformando a educação">
      </div>
    </div>
  </div>
</div>

<!--visao-->
<div class="container-fluid">
  <div class="row d-flex align-items-center teste2">
    <!--lado direito-->
    <div class="col-md-6 d-flex justify-contente-center">
      <img class="imagem2"
        src="https://assets-global.website-files.com/61155c49f7b752684a9f0584/629a5cd87823688352753571_Arvore_impacto-na_educa%C3%A7%C3%A3o-min-p-800.png"
        alt="Foto de uma criança representando a frase estamos transformando a educação">
    </div>
    <!--Lado esquerdo-->
    <div class="col-md-6 d-flex align-items-center">
      <div class="row d-flex justify-contente-center">
        <div class="paragrafo3 col-md-6 align-items-center">
          <p class="text-center align-items-center font">Visão</p>
          <p class="paragrafo1 text-center">Acreditamos que a educação pode mudar o mundo,
            transformar diferentes realidades, entender o valor da leitura e querer disseminá-la.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--valores-->
<div class="container-fluid mt-0">
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <!--Lado esquerdo-->
      <div class="row d-flex justify-contente-center">
        <div class="col-md-12">
          <p class="missao font">Valores</p>
          <p class="paragrafo1 text-center">Queremos diversidade. Sabemos que não existe diversidade <br>
            sem
            inclusão e que não existe inclusão<br>
            sem educação.
            Essa é nossa paixão,<br>
            lutamos por ela diariamente.
          </p>

        </div>

      </div>
    </div>
    <div class="row">
      <div class='col-md-6'>
        <!--lado direito-->
        <img class="imagem2"
          src="https://assets-global.website-files.com/61155c49f7b752684a9f0584/629a5cede4ddd98bbf84a2a2_Solucao-perfeita-produto.png"
          alt="Foto de uma criança representando a frase estamos transformando a educação">
      </div>
    </div>
  </div>
</div>


<!--Cards-->

<p class="tituloDev ">Desenvolvedores</p>
<div class="container mb-5">
  <div class="row">


    <section>
      <div class="container">
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="https://i.imgur.com/7Krw1Qa.jpg" class="card-img">
            </div>
            <div class="contentBx">
              <h3>Ester Eliege<br></h3>
            </div>
          </div>
          <ul class="sci justify-contente-center">
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://www.linkedin.com/in/estereliege/"
                role="button"><i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://github.com/esterferreirac"
                role="button"><i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="https://avatars.githubusercontent.com/u/89955427?v=4" class="card-img">
            </div>
            <div class="contentBx">
              <h3>Israel Igarashi<br></h3>
            </div>
          </div>
          <ul class="sci justify-contente-center">
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://www.linkedin.com/in/israel-igarashi/"
                role="button"><i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://github.com/igarashiisrael"
                role="button"><i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="https://avatars.githubusercontent.com/u/86428389?v=4" class="card-img">
            </div>
            <div class="contentBx">
              <h3>Marjory Matos<br></h3>
            </div>
          </div>
          <ul class="sci justify-contente-center">
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://www.linkedin.com/in/marjory-matos/"
                role="button"><i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://github.com/MarjoryMatos"
                role="button"><i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="https://avatars.githubusercontent.com/u/79462714?v=4" class="card-img">
            </div>
            <div class="contentBx">
              <h3>Rafael Campos<br></h3>
            </div>
          </div>
          <ul class="sci justify-contente-center">
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5"
                href="https://www.linkedin.com/in/rafael-campos-a539b8221/" role="button"><i class="fa fa-linkedin"
                  aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://github.com/zRafael" role="button"><i
                  class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="content">
            <div class="imgBx">
              <img src="https://i.imgur.com/yAXhPs5.jpeg" class="card-img">
            </div>
            <div class="contentBx">
              <h3>Vinicius Xavier<br></h3>
            </div>
          </div>
          <ul class="sci justify-contente-center">
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://www.linkedin.com/in/vinicius-xaviervx/"
                role="button"><i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a class="btn btn-outline-primary btn-floating mt-5" href="https://github.com/ViniciusSXavier999"
                role="button"><i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<app-rodape></app-rodape>