<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse space-between" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <a [routerLink]="['/inicio']">
          <img src="https://i.imgur.com/rpmazEZ.png" alt="logo" width="100px" height="100px" class="img-fluid">
        </a>
      </li>
      <li class="nav-item active">
        <img src="{{foto}}" alt="Imagem do usuário" width="50px" height="50px" class="img-fluid rounded-circle">
      </li>
      <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white fs-16">Olá, {{nome}}</p>
      </li>

      <li class="nav-item pl-1">
        <a [routerLink]="['/user-edit', id]">
          <p class="text-white fs-16 m-0"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </p>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto d-flex align-items-center">

    </ul>


    <ul class="navbar-nav ml-auto d-flex align-items-center">
      <li class="nav-item ml-5">
        <a (click)="sobreNos()" class="font-weight-bold text-white fs-16">Sobre o 6educa</a>
      </li>
      <li class="nav-item pl-3">
        <a (click)="sobreODS()" class="font-weight-bold text-white fs-16">Nossa inspiração!</a>
      </li>
      <li class="nav-item pl-3">
        <a (click)="sair()" class="m-0 font-weight-bold text-white fs-16">Sair <i class="fa fa-sign-out"
            aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>