img {
  width: 670px;
  height: 537px;
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
}

.mt-10 {
  padding-top: 110pt;
  padding-bottom: 136pt;
}

.bg-color {
  background-color: #0a2f61;
}

.text-color {
  color: #FFC04E;
}