@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&family=Exo+2:wght@100&family=Indie+Flower&family=Nanum+Myeongjo&display=swap');

.amarelo {
    background-color: #FDC15C;
}

.font-white {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 20pt;
    color: white;
}

.font {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 15pt;
}

.font-card {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 15pt;
}

.font-btn {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 15pt;
}

.font-titulo {
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 25pt;
}

.font-menor {
    font-family: 'Exo 2', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-size: 12pt;
}

.navbar1 {
    background-image: url('https://i.imgur.com/6JUmVxE.png');
}

.btn-tamanho {
    width: 100px;
}

.tamanho {
    height: 500px;
}

.fundo {
    background-color: #FCF3E2;
}

.azul {
    background-color: #1757AA;
}
